name: GitHub Activity
on:
  schedule:
    - cron: 0 0 * * *
  workflow_dispatch:
permissions:
  contents: write
  pull-requests: write
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true
jobs:
  build:
    name: Update README files
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      max-parallel: 1
      matrix:
        config_file:
          - ./.github/config/github-activity/en.config.yml
          - ./.github/config/github-activity/ca.config.yml
          - ./.github/config/github-activity/it.config.yml
          - ./.github/config/github-activity/es.config.yml
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
      - name: Run Recent Activity 
        uses: Readme-Workflows/recent-activity@v2.4.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          CONFIG_FILE: ${{ matrix.config_file }}
          
