name: Wakatime Stats
on:
  schedule:
    - cron: 0 0 * * 0
  workflow_dispatch:
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true
jobs:
  build:
    name: Update ${{ matrix.readme }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      max-parallel: 1
      matrix:
        readme: [README.md, README.ca.md, README.es.md, README.it.md]
    steps:
      - name: Fetch Wakatime stats
        uses: athul/waka-readme@master
        with:
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_TOKEN }}
          TARGET_PATH: ${{ matrix.readme }}
          GH_TOKEN: ${{ secrets.PAT }}
          COMMIT_MESSAGE: 'docs: update ${{ matrix.readme }} with latest WakaTime stats'
